include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile

global-include *.pyx

include pipeline/css/general.css
include pipeline/scripts/table_scripts.js

